body{
    margin: 0;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-size: 12px;
}

h1{
    font-weight: 1200;
    font-size: 100px;
    letter-spacing: 40px;
    text-align: center;
}

h2{
    font-weight: 1200;
    font-size: 60px;
    letter-spacing: 20px;
    text-align: center;
}

h3{
    font-weight: 1200;
    font-size: 40px;
    letter-spacing: 12px;
    text-align: center;
}

/* main page */
/* .grid-container-main{
    height: 100vh;
    display: grid;
    grid-template-rows: 400px 200px;
    grid-template-columns: 300px 600px;
    align-items: center;
    justify-items: center;
}

.main-logo{
    margin-right: 20px;
    margin-top: 150px;
}

.main-photo{
    text-align: center;
    width: 175%;
    margin-bottom: -200px;
}

.menu-font a{
    text-decoration: none;
    color: #000000;
}

.menu-font{
    font-weight: 1200;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 25px;
    text-align: center;
    margin-top: -100px;
}

.main-title-font{
    align-self: end;
    font-weight: 1200;
    font-size: 30px;
    letter-spacing: 12px;
    text-align: center;
    margin-right: -12px;
    margin-bottom: 10px;
}

.main-body-font{
    align-self: start;
    font-weight: 1200;
    font-size: 15px;
    letter-spacing: 4px;
    margin-top: 32px;
    text-align: center;
}

.main-content{
    margin-top: 100px;
} */


/* all pages */

.content{
    margin: 0 30px;
}

.header-photo{
    width: 100%;
    height: 100%;
}

.padding-thirty{
    padding: 30px;
}

.margin-zero{
    margin-bottom: -3px;
}

.margin-thirty{
    margin-top: 30px;
}

.margin-thirty-bottom{
    margin-bottom: 30px;
}

.margin-thirty-sides{
    margin: 0 30px;
}

.margin-sixty{
    margin-top: 60px;
}

.margin-sixty-bottom{
    margin-bottom: 60px;
}

.great-vibes-font{
    font-family: 'Great Vibes';
    font-size: 50px;
    letter-spacing: 10px;
}

.title-font{
    font-size: 2vw;
    /* why no transform */
    text-transform: uppercase;
    letter-spacing: 1vw;
    color: #000000;
}

.header-font{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

.blurb-font{
    letter-spacing: 1px;
    line-height: 18px;
}

.text-font{
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 12px;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.no-decoration{
    text-decoration: none;
    color: black;
}

.socials-style{
    margin-top: 30px;
    text-align: center;
}

.fa {
    font-size: 1.5em !important;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}

.fa:hover {
    opacity: 0.7;
    /* color: #ffd1dc; */
}

.fa-envelope {
    background: #ffffff;
    color: grey;
}

.fa-github {
    background: #ffffff;
    color: grey;
}

.fa-instagram {
    background: #ffffff;
    color: grey;
}

.fa-linkedin {
    background: #ffffff;
    color: grey;
}

.ending-style{
    margin-bottom: 45px;
}

.container{
    position: relative;
    text-align: center;
    color: #000000;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.photo{
    width: 100%;
    height: 100%;
}


/* home page */

.photo-grid{
    margin: 30px 0 9px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vw 20vw 20vw;
    grid-gap: 30px;
}

.photo{

}

.photo:hover{
    opacity: 0.7;
}

.photo-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-black-white {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.photo-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    object-fit: cover;
}

.photo-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.photo-grid__item--3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
}

.photo-grid__item--4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
}

.accordion{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    letter-spacing: 1px;
    line-height: 18px;
  }

.accordion:after {
  content: '\002B';
  font-size: 13px;
  font-family: myriad-pro, sans-serif;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

hr{
    border: none;
    border-top: 1px solid black;
    height: 0px;
    opacity: 0.3;
}

.instagram-background{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 18px 0;
}

.instagram-header{
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
}

.instagram-grid{
    margin: 30px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.instagram-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.instagram-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.instagram-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.instagram-grid__item--3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.instagram-grid__item--4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.instagram-grid__item--5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.instagram-grid__item--6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.instagram-grid__item--7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram-grid__item--8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram-grid__item--9{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram-ad{
    margin-top: -14px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px; 
}

.instagram-ad a{
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-style: italic;
}


/* projects page */
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container > div{
    background-color: #f1f1f1;
    /* width: 30vw; */
    margin: 2.5vw;
    text-align: center;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vw;
    grid-gap: 5vw;
}

.projects-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.projects-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project-photos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vw 10vw 10vw 10vw;
    grid-gap: 0;
}

.project-photos-grid__item--1{
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.project-photos-grid__item--2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.projects-info-style{
    /* margin-top: 5.5vw; */
    font-size: 1.5vw;
    letter-spacing: 0.3vw;
    line-height: 3vw;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}

.projects-header-style{
    font-size: 2vw;
    letter-spacing: 0.6vw;
    line-height: 2vw;
    text-transform: uppercase;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}

.great-vibes-blurb{
    font-family: 'Great Vibes';
    font-size: 2.3vw;
    letter-spacing: 0.4vw;
    text-transform: lowercase;
}

.blurb-style{
    margin-bottom: 25vw;
}

.tools-style{
    background-color: rgb(240, 240, 240);
    padding: 1vw 3vw;
    text-align: left;
}

.projects-style{
    font-size: 1.6vw;
    letter-spacing: 0.3vw;
    line-height: 3vw;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}

/* .tools-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 20vw;
}

.tools-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.tools-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
} */


/* interests page */
.interests-blurb{
    margin-top: 30px;
    text-align: justify;
}

.intro-grid{
    margin: 30px 0 9px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
}

.intro-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.intro-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.intro-grid__item--3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.intro-grid__item--4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.block-style{
    background-color: rgb(240, 240, 240);
    width: calc(100%);
    margin-left: -30px;
    padding: 30px;
}

.photo-text-grid{
    margin: 30px 0 9px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vw;
    grid-gap: 30px;
}

.photo-text-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.photo-text-grid__item--2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.photoo-text-grid{
    margin: 30px 0 9px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vw;
    grid-gap: 30px;
}

.photoo-text-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.photoo-text-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.images{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption{
    position: relative;
    float: right;
    width: 60%;
    margin-top: -15vw;
    margin-right: -10vw;
    padding: 0 2vw 1vw 2vw;
    background-color: rgb(240, 240, 240);
    z-index: 2;
}

.caption-white{
    position: relative;
    float: right;
    width: 60%;
    margin-top: -15vw;
    margin-right: -10vw;
    padding: 0 2vw 1vw 2vw;
    background-color: #ffffff;
    z-index: 2;
}

.memory-grid{
    margin: 100px 30px 130px 30px;
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 45vw;
    grid-gap: 0;
}

.memory-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.lessons-style{
    margin-top: 10vw;
}

/* .memory-grid__item--2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    object-fit: cover;
} */

.vert-align{
    align-items: center;
}

.other-vert-align{
    align-self: center;
}

.info-text-font{
    letter-spacing: 0.2vw;
    line-height: 1.5vw;
    font-size: 1.1vw;
}

.memory-header-font{
    letter-spacing: 0.3vw;
    line-height: 1.5vw;
    font-size: 1.9vw;
    text-transform: uppercase;
    /* font-family: myriad-pro, sans-serif; */
}

.memory-text-font{
    letter-spacing: 0.2vw;
    line-height: 1.5vw;
    font-size: 1.2vw;
    /* font-family: myriad-pro, sans-serif; */
}

/* .header-font{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

.blurb-font{
    letter-spacing: 1px;
    line-height: 18px;
}

.text-font{
    letter-spacing: 1px;
    line-height: 18px;
    font-style: 12px;
} */

.memory-background{
    background-color: rgb(240, 240, 240);
    padding: 0 10px;
}

/* resume page */

.resume-style{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* contact page */

.contact-container{
    border-radius: 5px;
    padding: 0 30vh;
    text-align: center;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
}

.contact-grid__item--1{
    text-align: left;
}

.contact-grid__item--2{
    text-align: right;
}

input[type=text-important]{
    width: 85%;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}

input[type=text]{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}

textarea {
    border: 1px solid #ccc;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    padding-top: 10px;
}
  
input[type=submit] {
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}
  
input[type=submit]:hover {
    background-color: rgb(255, 205, 234);
    color: #ffffff;
}


/* Navbar */

.nav-container{
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
}

nav{
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.left-menu{
    margin-left: 20px;
    grid-column: 1;
    align-self: center;
}

.left-menu a{
    font-size: 10px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 3px;
    margin: 10px;
}

.logo{
    grid-column: 2;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
    align-self: center;
}

#nav-toggle, .burger-menu{
    display: none;
}

@media only screen and (max-width: 1350px){
    .burger-menu{
        display: inline-block;
    }
    .left-menu{
        display: none;
    }
}

.burger-menu img{
    margin-left: 30px;
    width: 20px;
    filter: invert(1);
    margin-top: 2px;
}

.menu{

}

.menu:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1350px){
    .burger-menu {
        display: inline-block;
    }

    .left-menu{
        display: none;
    }

    #nav-toggle:checked ~ .left-menu{
        display: grid;
        margin-top: 15px;
        grid-row: 2;
    }

    .instagram-grid-mobile {
        display: block;
        margin: 0 50px;
    }
    
    .instagram-grid-mobile .instagram-photo {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .flex-container > div {
        margin: 30px 50px;
        width: 175px;
    }
}

@media only screen and (max-width: 768px) {
.instagram-grid {
    display: block; 
    margin: 0 50px;
}
.instagram-photo {
    margin-bottom: 30px;
}
.flex-container {
    display: block;
  }
.projects-grid {
    display: grid;
    margin: 0 0 20px 0;
    grid-template-rows: 40vw;
}

.projects-grid{
    display: block;
}

.project-photos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vw 20vw 20vw 20vw;
    grid-gap: 0;
}

.project-photos-grid__item--1{
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.project-photos-grid__item--2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
}