body{
    margin: 0;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-size: 12px;
}

h1{
    font-weight: 1200;
    font-size: 100px;
    letter-spacing: 40px;
    text-align: center;
}

h2{
    font-weight: 1200;
    font-size: 60px;
    letter-spacing: 20px;
    text-align: center;
}

h3{
    font-weight: 1200;
    font-size: 40px;
    letter-spacing: 12px;
    text-align: center;
}

/* main page */
.grid-container-main{
    height: 100vh;
    display: grid;
    grid-template-rows: 400px 200px;
    grid-template-columns: 300px 600px;
    align-items: center;
    justify-items: center;
}

.main-logo{
    margin-right: 20px;
    margin-top: 150px;
}

/* .main-heart{
    margin-top: 100px;
    font-size: 50px;
    margin-left: 20px;
} */

.main-photo{
    text-align: center;
    width: 175%;
    margin-bottom: -200px;
}

.menu-font a{
    text-decoration: none;
    color: #000000;
}

.menu-font{
    font-weight: 1200;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 25px;
    text-align: center;
    margin-top: -100px;
}

.main-title-font{
    align-self: end;
    font-weight: 1200;
    font-size: 30px;
    letter-spacing: 12px;
    text-align: center;
    margin-right: -12px;
    margin-bottom: 10px;
}

.main-body-font{
    align-self: start;
    font-weight: 1200;
    font-size: 15px;
    letter-spacing: 4px;
    margin-top: 32px;
    text-align: center;
}

.main-content{
    margin-top: 100px;
}

/* about page */

.about-content{
    margin: 0 30px;
}

.header-photo{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
}

.margin-zero{
    margin-bottom: -3px;
}

.photo-grid{
    margin: 30px 0 9px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vw 20vw 20vw;
    grid-gap: 30px;
}

.photo-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    object-fit: cover;
}

.photo-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
}

.photo-grid__item--3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
}

.photo-grid__item--4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
}

.container{
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.accordion{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    letter-spacing: 1px;
    line-height: 18px;
  }

hr{
    border: none;
    border-top: 1px solid black;
    height: 0px;
    opacity: 0.3;
}

.instagram-background{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 18px 0;
}

.instagram-header{
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
}

.instagram-grid{
    margin: 30px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.instagram-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.instagram-grid__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.instagram-grid__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.instagram-grid__item--3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.instagram-grid__item--4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.instagram-grid__item--5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.instagram-grid__item--6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.instagram-grid__item--7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram-grid__item--8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram-grid__item--9{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram-ad{
    margin-top: -14px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px; 
}

.instagram-ad a{
    color: #9c9c9c;
    text-decoration: none;
    font-style: italic;
}

/* Navbar */

.nav-container {
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
}

nav {
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.left-menu {
    margin-left: 20px;
    grid-column: 1;
    align-self: center;
}

.left-menu a{
    font-size: 10px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 3px;
    margin: 10px;
}

.logo {
    grid-column: 2;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 5px;
    color: #000000;
    text-align: center;
    align-self: center;
}

#nav-toggle, .burger-menu {
    display: none;
}

@media only screen and (max-width: 1350px) {
    .burger-menu{
        display: inline-block;
    }
    .left-menu{
        display: none;
    }
}
.burger-menu img{
    margin-left: 30px;
    width: 20px;
    filter: invert(1);
    margin-top: 2px;
}

@media only screen and (max-width: 1350px) {
    .burger-menu {
        display: inline-block;
    }

    .left-menu{
        display: none;
    }

    #nav-toggle:checked ~ .left-menu{
    display: grid;
    margin-top: 15px;
    grid-row: 2;
    }
}